<li>
    <div class="quote-title">
        <span class="lookup-symbol">#{t}&nbsp;&nbsp;<span class="exchange">(#{e})</span></span>
    </div>
    <div class="quote-subtitle">
        <span class="quote-name long truncating-text">#{n}</span>
    </div>
</li>