<div class="full-size scene">
    <div class="side-panel">
        <div class="block-header">
            <span id="lastUpdated"></span>
            <span id="updateHint" class="indicator"></span>
        </div>
        <div id="sorting" class="full-size fill slide-panel">
            <div class="block-header"><strong>Watchlist Sorting</strong></div>
            <div style="height: 50px;"></div>
            <ul id="sortMethod" class="button-group vertical" style="width: 60%;">
                <li class="header">METHOD</li>
                <li>None</li>
                <li>By Name</li>
                <li>By Symbol</li>
                <li>By Price</li>
                <li>By Change</li>
                <li>By Change %</li>
            </ul>
            <ul id="sortOrder" class="button-group vertical" style="margin-top: 20px; width: 60%;">
                <li class="header">ORDER</li>
                <li>Ascending</li>
                <li>Descending</li>
            </ul>
            <button id="closeSorting" type="button" class="affirmative">APPLY</button>
        </div>
        <div id="updates" class="full-size fill slide-panel">
            <div class="block-header"><strong>Quote Updates</strong></div>
            <div style="height: 50px;"></div>
            <ul id="interval" class="button-group vertical" style="width: 60%;">
                <li class="header">INTERVAL</li>
                <li>Manual Updates</li>
                <li>10 Seconds</li>
                <li>30 Seconds</li>
                <li>1 Minute</li>
                <li>5 Minutes</li>
                <li>15 Minutes</li>
                <li>30 Minutes</li>
            </ul>
            <button id="closeUpdates" type="button" class="affirmative">APPLY</button>
        </div>
        <div id="lookup" class="full-size fill slide-panel" style="text-align: left;">
            <div class="block-header" style="height: 86px;">
                <div><strong>Lookup Symbol</strong></div>
                <div>
                    <input type="text" id="query" class="find" value="" />
                    <div id="lookupSpinner" class="wait tiny"></div>
                </div>
            </div>
            <div id="lookupListScroller" class="full-size" style="margin-top: 86px;">
                <div>
                    <ul class="list" id="lookupList">
                    </ul>
                    <div style="height: 62px;"></div>
                </div>
            </div>
            <div class="bottom-fader" style="text-align: center; padding: 10px 0 10px 0; z-index: 1;">
                <button id="closeLookup" type="button" class="negative">CLOSE</button>
            </div>
        </div>
        <div id="watchListScroller" class="full-size" style="margin-top: 30px;">
            <div>
                <ul class="list" id="watchList">
                </ul>
                <div style="height: 62px;"></div>
            </div>
        </div>
        <div class="bottom-fader" style="text-align: center; padding-top: 10px; z-index: 1;">
            <div class="control-group horizontal" style="position: absolute; left: 10px;">
                <ul>
                    <li id="addSymbols"><img src="images/plus.png" alt="" /></li>
                    <li id="lookupSymbol"><img src="images/lookup.png" alt="" /></li>
                </ul>
            </div>
            <div class="control-group horizontal">
                <ul>
                    <li id="refreshWatchList"><img src="images/refresh.png" alt="" /></li>
                </ul>
            </div>
            <div class="control-group horizontal" style="position: absolute; right: 10px;">
                <ul>
                    <li id="sortWatchList"><img src="images/sort.png" alt="" /></li>
                    <li id="removeSymbols"><img src="images/trash.png" alt="" /></li>
                </ul>
            </div>
        </div>
        <div class="full-size" id="addSymbolsFader" style="z-index: 1; display: none; opacity: 0; background-color: rgba(125,125,125,0.5);"></div>
        <div id="addSymbolsDialog">
            <div style="font-size: 18px; font-weight: bold; margin-top: 10px; color: rgb(50,50,50);">Add Symbols</div>
            <input type="text" id="symbols" name="symbols" value="" />
            <div style="margin: 15px 0;">
                <button type="button" id="addSymbolsAdd" name="" value="" class="affirmative" style="">Add Symbols</button>
                <div style="width: 6px; display: inline-block;"></div>
                <button type="button" id="addSymbolsClose" name="" value="" class="negative" style="">Close</button>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="block-header">
            <span id="company" style="font-weight: bold; color: #598AB4;"></span>
            <span id="realTime" class="indicator"></span>
        </div>
        <div id="summaryScroller" class="full-size" style="margin-top: 30px;">
            <div>
                <div id="summary">
                    <div style="height: 180px; width: 300px;">
                        <div class="price-quote"><span id="symbol"></span>&nbsp;&nbsp;<span id="last" style="font-weight: bold;"></span>&nbsp;&nbsp;<span id="change"></span></div>
                        <div class="minor-text">
                            <span>Regular hours: </span><span id="lastTrade"></span>
                        </div>
                        <div id="extended">
                            <div class="price-quote"><span id="extSymbol"></span>&nbsp;&nbsp;<span id="extLast" style="font-weight: bold;"></span>&nbsp;&nbsp;<span id="extChange"></span></div>
                            <div class="minor-text">
                                <span>Extended hours: </span><span id="extLastTrade"></span>
                            </div>
                        </div>
                        <div style="margin-top: 20px; margin-left: 10px;">
                            <ul class="button-group horizontal" id="chartPeriod">
                                <li>1d</li>
                                <li>5d</li>
                                <li>1M</li>
                                <li>6M</li>
                                <li>1Y</li>
                                <li>5Y</li>
                            </ul>
                        </div>
                    </div>
                    <div style="position: absolute; top: 4px; right: 10px; margin-right: 16px;">
                        <div class="wait" id="chartSpinner"></div>
                        <div class="chart"><img id="stockChart" src="" alt="" /></div>
                    </div>
                    <table class="viewer" border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="18%" class="name-value"><span class="name">Open:</span><span class="value" id="open"></span></td>
                                <td width="19%"></td>
                                <td width="22%" class="name-value"><span class="name">Volume:</span><span class="value" id="volume"></span></td>
                                <td width="19%"></td>
                                <td width="22%" class="name-value"><span class="name">52Wk High:</span><span class="value" id="hi52w"></span></td>
                            </tr>
                            <tr>
                                <td class="name-value"><span class="name">High:</span><span class="value" id="high"></span></td>
                                <td></td>
                                <td class="name-value"><span class="name">Avg Vol:</span><span class="value" id="avgVol"></span></td>
                                <td></td>
                                <td class="name-value"><span class="name">52Wk Low:</span><span class="value" id="lo52w"></span></td>
                            </tr>
                            <tr>
                                <td class="name-value"><span class="name">Low:</span><span class="value" id="low"></span></td>
                                <td></td>
                                <td class="name-value"><span class="name">Mkt Cap:</span><span class="value" id="marketCap"></span></td>
                                <td></td>
                                <td class="name-value"><span class="name">Dividend:</span><span class="value" id="dividend"></span></td>
                            </tr>
                            <tr>
                                <td class="name-value"><span class="name">P/E:</span><span class="value" id="PE"></span></td>
                                <td></td>
                                <td class="name-value"><span class="name">Beta:</span><span class="value" id="beta"></span></td>
                                <td></td>
                                <td class="name-value"><span class="name">Yield:</span><span class="value" id="yield"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center; margin-top: 16px; margin-bottom: 6px; font-size: 18px; font-weight: bold; color: #6385b0;"><span class="separator" style="width: 30%;"></span>Recent News<span class="separator" style="width: 30%;"></span></div>
                </div>
                <div>
                    <div id="newsSpinner" style="text-align: center; margin-top: 24px; display: none;">
                        <div class="wait big"></div>
                    </div>
                    <ul class="list" id="storyList">
                    </ul>
                    <div class="list-spacer" style="height: 20px;"></div>
                </div>
            </div>
        </div>
        <div class="bottom-fader" style="height: 20px;"></div>
    </div>
</div>