body, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    -webkit-user-select: none;
    cursor: default;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #8c8c8c;
    min-width: 1024px;
    min-height: 600px;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.content-secondary {
    width: 34%;
    padding-right: 18px;
    border-right: 1px solid black;
    height: 600px;
}

#touch_blocker {
    z-index: 101;
    background: #f3f3f3 url(../images/spalsh_landscape.png) center no-repeat;
}

#main_tabs {
    position: relative;
    margin-top: 5px;
}

#main_tabs li {
    width: 100px;
}

.main_header {
    position: absolute;
    z-index: 4;
    height: 64px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(30,30,30);
/*    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);*/
    background: -webkit-linear-gradient(top, #e4e4e4 0%,#c0c0c0 100%);
}

#mobileApp {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid rgb(40,40,40);
    background: -webkit-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
}

#mobileApp:hover {
    box-shadow: 0 0 5px rgb(60,60,60);
}

#mobileApp:active {
    box-shadow: 0 0 5px rgb(60,60,60),
                inset 1px 2px 10px rgba(0,0,0,0.5);
}

#mobileAppTip {
    line-height: 28px;
}

.splash-message {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(50,50,50);
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1),
        inset 0px 1px 1px rgba(255,255,255,1);
    text-shadow:
        1px 1px 0px rgba(255,255,255,1),
        0px 1px 0px rgba(255,255,255,0.2);
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
}

#welcome {
    width: 140px;
    height: 50px;
    margin-left: -70px;
    margin-top: -25px;
}

#trial {
    width: 500px;
    height: 100px;
    margin-left: -250px;
    margin-top: -100px;
}

.main-content {
    position: absolute;
    overflow: hidden;
    top: 65px;
    right: 0;
    width: 66%;
    bottom: 0;
    background-color: #e9e9e9;
}

.side-panel {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    left: 0;
    top: 65px;
    width: 34%;
    bottom: 0;
/*    border-right: 1px solid rgb(30,30,30);*/
    border-right: 1px solid rgb(90,90,90);
    background-color: #e9e9e9;
    box-shadow: 2px 0 10px rgba(0,0,0,0.75);
}

#lastUpdated {
    float: left;
    margin-left: 14px;
}

.price-quote {
    font-size: 18px;
    height: 24px;
    overflow: hidden;
}

.minor-text {
    color: gray;
}

#extended {
    margin-top: 6px;
}

#extSymbol {
    visibility: hidden;
}

#summary {
    display: none;
    padding: 16px 14px 0 14px;
}

#chartSpinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -10px;
}

#watchList li:first-child {
    padding-top: 4px;
}

.block-header {
    position: absolute;
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 30px;
    line-height: 32px;
    text-align: center;
    box-shadow: 0 0 10px black;
    background: -webkit-linear-gradient(top,
        white 0%, #ebebeb 50%, #e1e1e1 50%, #bcbcbc 100%);
}

.block-header.title {
    color: #598AB4;
    font-weight: bold;
}

.full-size {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.full-size.fill {
    background-color: #e9e9e9;
}

.wrapper {
    position: absolute;
    overflow: auto;
}

.bottom-fader {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(top, rgba(233,233,233,0) 0%, rgba(233,233,233,0.5) 20%, #e9e9e9 100%);
    padding-bottom: 1px;
}

.top-fader {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(top, #e9e9e9 0%, rgba(233,233,233,0) 100%);
}

.feedListItem {
    height: 42px;
    line-height: 42px;
    font-weight: bold;
}

.feedListItem .title {
    padding: 0 14px;
}

.listCut {
    padding: 0;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    border-top: 1px solid #6385B0 !important;
    border-bottom: 1px solid #6385B0 !important;
    background-color: #6385B0 !important;
}

/* watchlist edit mode */

.list.edit .change, .list.edit .quote-change, .list.edit .quote-chart {
    opacity: 0;
}

.list.edit li {
    background-repeat: no-repeat;
    background-position: 93% center;
    background-image: url(../images/delete.png);
}

.list.edit li.removed {
    position: relative;
    overflow: hidden;
    max-height: 0;
    -webkit-animation: swipe-left-shrink 1s ease-out 1;
}

@-webkit-keyframes swipe-left-shrink {
    0% {left: 0; max-height: 100px;}
    75% {left: -100%; max-height: 100px;}
    100% {left: -100%; max-height: 0;}
}

.scene {
    overflow: hidden;
    -webkit-animation: scene-slide-in .5s ease-out 1;
}

@-webkit-keyframes scene-slide-in {
    from {-webkit-transform: translate(0,-100%);}
    to {-webkit-transform: translate(0,0);}
}

.block-header .indicator {
    float: right;
    margin-right: 20px;
    margin-top: 3px;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
}

.slide-panel {
    display: none;
    z-index: 101;
    text-align: center;
    box-shadow: 0 0 20px black;
    -webkit-animation: panel-slide-in 0.5s ease-out 1;
}

.slide-panel.hide {
    -webkit-transform: translate(-110%,0);
    -webkit-animation: panel-slide-out 0.5s ease-out 1;
}

@-webkit-keyframes panel-slide-in {
    from {-webkit-transform: translate(-110%,0);}
    to {-webkit-transform: translate(0,0);}
}

@-webkit-keyframes panel-slide-out {
    from {-webkit-transform: translate(0,0);}
    to {-webkit-transform: translate(-110%,0);}
}

#closeSorting, #closeUpdates {
    position: absolute;
    bottom: 16px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}

#lookupSpinner {
    display: none;
    float: right;
    margin-right: 24px;
    margin-top: 6px;
}

/* watchlist item styles */

.quote-title {
    padding: 7px 14px 6px 14px;
}

.quote-subtitle {
    padding: 0 14px 0 14px;
    height: 40px;
    line-height: 26px;
}

.quote-subtitle.low {
    height: 33px;
}

.quote-ext-hours {
    padding: 0 14px 0 14px;
    height: 18px;
    font-size: 16px;
    line-height: 18px;
}

.quote-ext-hours .text {
    float: left;
    text-align: left;
    width: 24%;
    font-size: 14px;
    color: gray;
}

.quote-ext-hours .last {
    float: left;
    text-align: right;
    width: 29%;
    font-weight: bold;
}

.quote-ext-hours .change {
    float: left;
    text-align: right;
    width: 47%;
}

.quote-name {
    font-size: 15px;
    float: left;
    width: 70%;
    color: gray;
}

.quote-name.long {
    width: 100%;
}

.truncating-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.quote-chart {
    float: left;
    text-align: right;
    width: 30%;
    line-height: 28px;
}

.quote-symbol {
    font-size: 16px;
    line-height: 18px;
    float: left;
    width: 24%;
    text-align: left;
}

.quote-symbol.small {
    font-size: 14px;
}

.quote-last {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    float: left;
    width: 29%;
    text-align: right;
}

.quote-change {
    font-size: 16px;
    line-height: 18px;
    float: left;
    width: 47%;
    text-align: right;
}

.lookup-symbol {
    font-size: 16px;
    line-height: 18px;
    float: left;
    text-align: left;
}

.lookup-symbol .exchange {
    color: gray;
}

.story-title {
    padding: 6px 14px 8px 14px;
    font-size: 15px;
    font-weight: bold;
}

.story-title .pub-date {
    color: rgb(80,80,80);
    font-size: 12px;
    margin-left: 10px;
}

.story-subtitle {
    padding: 6px 14px 8px 14px;
    font-size: 15px;
    margin-top: -12px;
}

.chg {
    color: green;
}

.chr {
    color: #EB0000;
}

.green {
/*    color: green;*/
    -webkit-animation: green-to-black 1s ease-in 1;
}

.red {
/*    color: #EB0000;*/
    -webkit-animation: red-to-black 1s ease-in 1;
}

@-webkit-keyframes green-to-black {
    0% {color: green;}
    99% {color: green;}
    100% {color: black;}
}

@-webkit-keyframes red-to-black {
    0% {color: #EB0000;}
    99% {color: #EB0000;}
    100% {color: black;}
}

.bold {
    font-weight: bold;
}

.bold img {
    margin-right: 10px; /* TODO: get rid of this hack */
}

.viewer {
    margin-top: 16px;
    padding-bottom: 5px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.viewer td {
    vertical-align:
    bottom; height: 22px;
}

.name-value {
    font-size: 14px;
    text-align: right;
}

.name {
    float: left;
}

.value {
    font-weight: bold;
}

input[type="text"] {
    width: 90%;
    height: 32px;
    border-radius: 9px;
    border: 2px solid gray;
    font-size: 18px;
    padding-left: 5px;
}

input[type="text"]:focus {
    border: 2px solid #5096E9;
    outline-width: 0;
}

input[type="text"].find {
    width: auto;
    position: absolute;
    left: 14px;
    right: 14px;
    padding: 0 34px 0 34px;
    background: url(../images/find.png) 2% 50% no-repeat, white;
}

.chart {
    width: 320px;
    height: 160px;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid gray;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

.index-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.index-dot.red {
    background-color: #dc3812;
}

.index-dot.blue {
    background-color: #4684ee;
}

.index-dot.orange {
    background-color: #ff9900;
}

#addSymbolsDialog {
    display: none;
    position: absolute;
    bottom: -200px;
    z-index: 100;
    width: 100%;
    text-align: center;
    border-top: 1px solid lightgray;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 10px rgb(40,40,40), inset 0 0 10px rgba(125,125,125,0.8);
    background-image: -webkit-linear-gradient(top, #e9e9e9 0%, #a5a5a5 100%);
}

#symbols {
    margin-top: 10px;
    font-style: italic;
    color: rgb(128, 128, 128);
}

.search-tip {
    background: url(../images/close.png) center right no-repeat;
    margin: 10px 14px;
}

.search-tip .text {
    font-size: 14px;
    text-align: left;
    margin-right: 32px;
}

.social-icon {
    border-radius: 2px;
}

.social-icon:hover {
    box-shadow: 0 0 5px rgb(60,60,60);
}

#twitter {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 18px;
    right: 162px;
    background: url(../images/twitter.png) center no-repeat;
}

#facebook {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 18px;
    right: 126px;
    background: url(../images/facebook.png) center no-repeat;
}