/* --- Spinner --- */

.spinner {
    position: relative;
    display: inline-block;
}

.spinner.big {
    width: 100px;
    height: 100px;
}

.spinner.small {
    width: 50px;
    height: 50px;
}

.spinner.big.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.spinner div {
    width: 12%;
    height: 26%;
    background: #000;
/*    background: #fff;*/
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0.25;}
}

/* Image based spinner */

.wait {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/wait.png);
    -webkit-animation: revolve 2s linear infinite;
}

.wait.big {
    width: 108px;
    height: 108px;
    background: url(../images/wait.big.png);
}

.wait.tiny {
    width: 24px;
    height: 24px;
    background: url(../images/wait.tiny.png);
}

.wait.big.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -54px;
    margin-top: -54px;
}

@-webkit-keyframes revolve {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

/* Grouped Buttons */

.button-group {
    display: inline-block;
    border-radius: 10px;
    box-shadow:
        0px 3px 11px rgba(0,0,0,0.5),
        inset 0px 0px 1px rgba(196,196,196,1);
    text-shadow:
        0px -1px 0px rgba(0,0,0,0.2),
        0px 1px 0px rgba(255,255,255,0.3);
}

/*.button-group li {
    
}*/

.button-group li {
    min-width: 20px;
/*    max-width: 40px;*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    padding: 10px 12px;
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#f7f7f7),
        to(#bfbfbf));
    border: 2px solid #6b596b;
    
}

.button-group.horizontal li {
    border-left: none;
    float: left;
}

.button-group li.selected {
    background: #c7c7c7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.button-group li.header {
    color: white;
    font-weight: bold;
    border: 2px solid black;
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a3a3a3),
        color-stop(0.50, #3b3b3b),
        color-stop(0.50, #242424),
        to(#000000));
}

.button-group.horizontal li:first-child {
    border-radius: 10px 0 0 10px;
    border-left: 2px solid #6b596b;
}

.button-group.horizontal li:last-child {
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.button-group.horizontal li:only-child {
    border-left: 2px solid #6b596b;
    border-right: 2px solid #6b596b;
    border-radius: 10px;
}

.button-group.vertical li {
    border-top: none;
}

.button-group.vertical li:first-child {
    border-radius: 10px 10px 0 0;
    border-top: 2px solid #6b596b;
}

.button-group.vertical li.header:first-child {
    border-top: 2px solid black;
}

.button-group.vertical li:last-child {
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.button-group.vertical li:only-child {
    border-top: 2px solid #6b596b;
    border-bottom: 2px solid #6b596b;
    border-radius: 10px;
}

/* --- Grouped Buttons --- */

.control-group {
    color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    border: 1px solid black;
    display: inline-block;
    box-shadow: 0 3px 8px rgba(0,0,0,0.5);
    background-image: -webkit-linear-gradient(top, #B3B3B3 0%, #B3B3B3 2%, #7A7A7A 3%, #5E5E5E 42%, #4f4f4f 43%, #323231 50.1%, #484f4f 75%, #758887 97%, #617171 99%, #617171 100%);
}

.control-group ul {
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

.control-group li {
    height: 44px;
    line-height: 44px;
    float: left;
    padding: 0 10px;
    border: 1px solid #1b1b1b;
    border-right: 1px solid #363636;
    border-left: 1px solid #7c7c7c;
    border-bottom: 1px solid #39393a;
    background-image: -webkit-linear-gradient(top, #a5a5a5 0%, #a5a5a5 1%, #757575 2%, #444444 50%, #383837 50.1%, #525252 100%);
}

.control-group li img {
    vertical-align: middle;
    margin-top: -5px;
}

.control-group li:first-child img {
    margin-left: 4px;
/*    margin-right: -4px;*/
}

.control-group li:last-child img {
    margin-right: 4px;
/*    margin-left: -4px;*/
}

.control-group li:only-child img {
    margin-left: 0;
    margin-right: 0;
}

.control-group.horizontal li.disabled img {
    opacity: 0.5;
}

.control-group.horizontal li.selected {
    background-image: none;
    background-color: #598ab4;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.25);
}

.control-group.horizontal li:active {
    background-image: -webkit-linear-gradient(top, #8FB1CF 0%, #8FB1CF 2%, #658CAF 3%, #315372 50%, #233748 50.1%, #416A8E 100%);
}

.control-group.horizontal li:first-child {
    border: 1px solid #1b1b1b;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-right: 1px solid #363636;
    border-bottom: 1px solid #39393a;
}

.control-group.horizontal li:last-child {
    border: 1px solid #1b1b1b;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-left: 1px solid #7c7c7c;
    border-bottom: 1px solid #39393a;
}

.control-group.horizontal li:only-child {
    border-right: 1px solid #363636;
    border-left: 1px solid #363636;
}

/* --- List --- */

.list {
    background-color: #adadad;
}

.list li {
    padding: 0px 4px 0px 0px;
    border-bottom: 1px solid #bcbcbc;
    border-top: 1px solid #f1f1f1;
    background-color: #e9e9e9;
}

.list.alternate li:nth-child(even) {
    background-color: #dee0e2;
}

.list li.pressed, .list.alternate li.pressed {
    background-color: #bdbcbc;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    border-top: 1px solid rgb(60,60,60);
    border-bottom: 1px solid rgb(60,60,60);
}

.list li:first-child {
    border-top: none;
}

.list li:last-child {
    border-bottom: none;
}

/* Buttons */

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
}

button.negative {
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ff2819),
        to(#ab0000));
    border-radius: 9px;
    border: 1px solid #7d0000;
    box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(0,0,0,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}

button.negative:active {
    background: #ab0000;
}

button.affirmative {
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#1fd100),
        to(#1c7d0b));
    border-radius: 9px;
    border: 1px solid #2b701e;
    box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(0,0,0,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}

button.affirmative:active {
    background: #1c7d0b;
}

button.default {
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a3a3a3),
        to(#474747));
    border-radius: 9px;
    border: 1px solid #474747;
    box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(0,0,0,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}

button.default:active {
    background: #474747;
}

.separator {
    height: 6px;
    margin: 0 10px;
    display: inline-block;
    background-color: #93bfe6;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.2);
    border-bottom: 1px solid white;
    border-radius: 3px;
    margin-bottom: 2px;
}

.hint {
    position: absolute;
    padding: 4px 8px;
    color: #000;
    font-size: 0.8em;
    background: #CBF2A5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.hint.top {
    box-shadow: 2px 2px 10px #333333;
}

.hint.top:after {
    content: "";
    top: -10px;
    left: 30px;
    position: absolute;
    border-width: 0px 10px 10px;
    border-style: solid;
    border-color: #CBF2A5 transparent;
    /* reduce the damage in FF3.0 */
    /*display: block;*/
    /*width: 0;*/
}

.hint.right:after {
    content: "";
    left: auto;
    right: 30px;
}

.hint a {
    color: black;
}