<div class="full-size scene">
    <div class="side-panel">
        <div class="top-fader" style="height: 16px; z-index: 1;"></div>
        <div id="indexListScroller" class="full-size">
            <div>
                <div class="chart"><img id="indexChart" src="" alt="" /></div>
                <div style="height: 10px;"></div>
                <ul class="list" id="indexList">
                </ul>
                <div style="height: 78px;"></div>
            </div>
        </div>
        <div class="bottom-fader" style="text-align: center;">
            <div class="control-group horizontal">
                <ul>
                    <li id="refreshIndexList"><img src="images/refresh.png" alt="" /></li>
                </ul>
            </div>
        </div>
        <div id="addSymbolsDialog">
            <div style="font-size: 18px; font-weight: bold; margin-top: 10px; color: rgb(50,50,50);">Add Symbols</div>
            <input type="text" id="symbols" name="symbols" value="Enter space-separated symbols" onfocus="if (this.value === 'Enter space-separated symbols') this.value=''; this.style.fontStyle='normal'; this.style.color = '#000';">
            <div style="margin: 15px 0;">
                <button type="button" id="addSymbolsAdd" name="" value="" class="affirmative" style="">Add Symbols</button>
                <div style="width: 6px; display: inline-block;"></div>
                <button type="button" id="addSymbolsClose" name="" value="" class="negative" style="">Close</button>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="block-header title">
            <span id="company" style="font-weight: bold; color: #598AB4;"></span>
            <span id="realTime" class="indicator"></span>
        </div>
        <div id="summaryScroller" class="full-size" style="margin-top: 30px;">
            <div>
                <div id="summary">
                    <div style="height: 180px; width: 300px;">
                        <div class="price-quote"><span id="symbol"></span>&nbsp;&nbsp;<span id="last" style="font-weight: bold;"></span>&nbsp;&nbsp;<span id="change"></span></div>
                        <div class="minor-text">
                            <span>Regular hours: </span><span id="lastTrade"></span>
                        </div>
                        <div style="margin-top: 20px; margin-left: 10px;">
                            <ul class="button-group horizontal" id="chartPeriod">
                                <li>1d</li>
                                <li>5d</li>
                                <li>1M</li>
                                <li>6M</li>
                                <li>1Y</li>
                                <li>5Y</li>
                            </ul>
                        </div>
                    </div>
                    <div style="position: absolute; top: 4px; right: 10px; margin-right: 16px;">
                        <div class="wait" id="chartSpinner"></div>
                        <div class="chart"><img id="stockChart" src="" alt="" /></div>
                    </div>
                    <table class="viewer" border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="18%" class="name-value"><span class="name">Open:</span><span class="value" id="open"></span></td>
                                <td width="19%"></td>
                                <td class="name-value"><span class="name">High:</span><span class="value" id="high"></span></td>
                                <td width="19%"></td>
                                <td width="22%" class="name-value"><span class="name">52Wk High:</span><span class="value" id="hi52w"></span></td>
                            </tr>
                            <tr>
                                <td width="22%" class="name-value"><span class="name">Volume:</span><span class="value" id="volume"></span></td>
                                <td></td>
                                <td class="name-value"><span class="name">Low:</span><span class="value" id="low"></span></td>
                                <td></td>
                                <td class="name-value"><span class="name">52Wk Low:</span><span class="value" id="lo52w"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center; margin-top: 16px; margin-bottom: 6px; font-size: 18px; font-weight: bold; color: #6385b0;"><span class="separator" style="width: 30%;"></span>Recent News<span class="separator" style="width: 30%;"></span></div>
                </div>
                <div>
                    <div id="newsSpinner" style="text-align: center; margin-top: 24px; display: none;">
                        <div class="wait big"></div>
                    </div>
                    <ul class="list" id="storyList">
                    </ul>
                    <div class="list-spacer" style="height: 20px;"></div>
                </div>
            </div>
        </div>
        <div class="bottom-fader" style="height: 20px;"></div>
    </div>
</div>