<div class="quote-title">
    <span class="quote-symbol truncating-text"><span class="alert-icon #{hasAlerts}"></span>#{symbol}</span>
    <span class="quote-last">#{last}</span>
    <span class="quote-change #{changeColor}">#{changeText}</span>
</div>
<div class="quote-subtitle">
    <span class="quote-name truncating-text"><span class="legend"></span> #{name}</span>
    <span class="quote-chart"><img width="50" height="15" src="http://www.google.com/finance/chart?cht=s&cid=#{id}&p=1d&xxx=#{lastTradeDateTime}"/></span>
</div>