<div class="full-size scene">
    <div class="side-panel" style="z-index: 3;">
        <div class="block-header title">Feeds</div>
        <div id="feedListScroller" class="full-size" style="margin-top: 30px;">
            <div>
                <ul class="list alternate" id="feedList">
                </ul>
                <div style="height: 64px;"></div>
            </div>
        </div>
        <div class="bottom-fader" style="text-align: center; padding-top: 10px; z-index: 1;">
            <div class="control-group horizontal">
                <ul id="provider">
                    <li id="yahoo" style="width: 80px;">Reuters</li>
                    <li id="reuters" style="width: 80px;">Yahoo!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div id="feed" class="block-header title" style="z-index: 2;"></div>
        <div id="newsListScroller" class="full-size" style="margin-top: 30px;">
            <div>
                <ul class="list" id="newsList">
                </ul>
                <div class="list-spacer" style="height: 20px;"></div>
            </div>
        </div>
        <div class="bottom-fader" style="height: 20px;"></div>
        <div class="full-size fill" style="display: none; z-index: 1;" id="newsListSpinner">
            <div class="wait big centered"></div>
        </div>
    </div>
</div>